nav.nav-screen.nav-screen-hidden
	.wrapper
		nav
			ul
				li.active
					a(href="index.html"): span Главная
				li
					a(href="menu.html"): span Меню
				li
					a(href="gallery.html"): span Галерея
				li
					a(href="news.html"): span Новости
				li
					a(href="contacts.html"): snap Контакты

		.social
			a(href="//www.facebook.com/Loft-Pub-1008362829311705/" target="_blank").ic-fb: span Facebook
			a(href="//www.instagram.com/loft.pub/" target="_blank").ic-in: span Instagram

		.logo
			a(href="index.html")
				img( src="img/assets/brand/logo.svg" alt="Publoft logo") 