nav.nav-mob
	.close-btn
	.wrapper
		ul
			li.active
				a(href="index.html") Главная
			li
				a(href="menu.html") Меню
			li
				a(href="gallery.html") Галерея
			li
				a(href="news.html") Новости
			li
				a(href="contacts.html") Контакты

		.social
			a(href="//www.facebook.com/Loft-Pub-1008362829311705/" target="_blank").ic-fb: span Facebook
			a(href="//www.instagram.com/loft.pub/" target="_blank").ic-in: span Instagram

		.logo
			a(href="index.html")
				img( src="img/assets/brand/logo.svg" alt="Publoft logo")