include partials/head
body
	#site-wrapper
		include partials/site-header

		section#site-main(style="background-image:url(/img/bg-image.jpg);")
			.wrapper-centered
				.logo
					img(src="/img/assets/brand/logo-w.svg", alt="logo publoft")
				h1 Пиво и закуски
							

		section#site-footer
			include partials/site-footer