include partials/head
body
	#site-wrapper
		include partials/site-header

		section#site-main
			.container
				.menu
					header
						h1 Меню
					ul.menu-nav
						li Основное
							ul
								li 
									a(href="#") Холодные закуски
								li
									a(href="#") Выпечка
								li
									a(href="#") Хинкали
								li
									a(href="#") Чебуреки
								li 
									a(href="#") Супы
								li
									a(href="#") Горячие блюда
								li
									a(href="#") Мангал
								li
									a(href="#") Гарниры
								li
									a(href="#") Соусы
								li
									a(href="#") Десерты
						li Алкоголь
							ul
								li 
									a(href="#") Холодные закуски
								li
									a(href="#") Выпечка
								li
									a(href="#") Хинкали
						li Напитки
							ul
								li 
									a(href="#") Холодные закуски
								li
									a(href="#") Выпечка
								li
									a(href="#") Хинкали

					.menu-item
						h4 Холодные закуски

		section#site-footer
			include partials/site-footer