include partials/head
body
	#site-wrapper
		include partials/site-header

		section#site-main
			.container
				.contacts
					header
						h1 Новости
					.news-items
						include partials/news-item 
						include partials/news-item 
						include partials/news-item 

		section#site-footer
			include partials/site-footer