.menu {
	padding: 1rem;
	margin-top: 1rem;
}

.menu-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 2rem;
	&:last-child {
		right: 0;
	}
}

.menu-nav>li {
	position: relative;
	display: inline-block;
	padding-right: 2rem;
	font-size: 2rem;
	font-family: $second-font-family;
	color: ac(primary);
	& ul {
		display: none;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&:hover ul {
		position: absolute;
		display: block;
		left: 0;
		background-color: ac(secondary);
		border-radius: .75rem;
		min-width: 22rem;
		padding: 1rem;
		z-index: 9;
		& li {
			width: 100%;
			& a {
				color: ac(third);
				display: inline-block;
				width: 100%;
				padding: 0.5rem;
				font-size: 2rem;
				line-height: 1;
			}
		}
		&:last-child {
			right: 0;		
		}
	}
}

.menu-item {
	padding: 2rem 0;
	border-top: solid .4rem ac(primary);
}






// .menu .menu-content .menu-content-nav-active {
// 	 height: 2.5rem;
// }